body { 
  background: url("images/sunriseflowers.jpg") no-repeat center center fixed; 
  background-size: cover;
}

.fontStyle {
  font-family: "Viga", sans-serif;
}

.titleColor {
  color: rgb(158, 80, 158);
}

.textShadow {
  text-shadow: 1.5px 0px rgb(90, 43, 90);
}

.formBackColor {
  background-color: rgb(255, 255, 231, 0.55);
}

#formHeader {
  background-color:  rgb(255, 255, 231, 0.6);
}

.textColor {
  color: rgb(6, 77, 136);
}

.formBorder {
  border: .8px solid rgb(158, 80, 158, 0.7);
}

.submit {
  background-color: white;
}

.card-header {
  background-color:  rgb(255, 255, 231, 0.8);
  font-size: 18px;
}

#quote  {
  font-size: 20px;
  font-family: 'Pacifico', cursive;
}

#joke {
  font-size: 20px;
  font-family: 'Indie Flower', cursive;
  
  

}

.weather {
  font-size: 20px;
  font-family: 'Libre Franklin', sans-serif;
  
}

#degrees {
  font-size: 30px;
}

.backgroundYellow {
  background-color: rgb(255, 255, 231, 0.7);
}

#eventFormTable {
  background-color: rgb(232, 234, 247, .8);
}

.tableText {
  font-size: 18px;
}

.card-body {
  margin-left: 10px;
}

#userName {
  color: rgb(0, 38, 255);
  
}

#size {
  height: 240px;
}







/* checkbox css */

.check {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.check input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
}
.check:hover input ~ .checkmark {
  background-color: #ccc;
}
.check input:checked ~ .checkmark {
  background-color: #2196F3;
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}
.check input:checked ~ .checkmark:after {
  display: block;
}
.check .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}






